body {
  font-family: sans-serif;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-weight: 700;
  color: #fcca46;
  font-size: -webkit-xxx-large;
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: large;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  h1 {
    font-size: x-large;
  }
}

h2 {
  font-weight: 700;
  color: #fcca46;
  font-size: xx-large;
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: medium;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  h2 {
    font-size: large;
  }
}

.header {
  text-align: center;
  background-color: #569c87;
}
.header__link {
  text-decoration: none;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .header_title {
    font-size: x-large;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header_title {
    font-size: 56px;
    letter-spacing: 4px;
  }
}

.container {
  display: grid;
  grid-template-rows: 10% 70% 10% 10%;
  min-height: 100vh;
}
@media screen and (min-width: 1025px) {
  .container {
    grid-gap: 38px;
  }
}

.container-menu {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  grid-template-areas: "1 2" "3 4";
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-menu {
    margin-inline-start: 15%;
    margin-inline-end: 15%;
  }
}
@media screen and (min-width: 1025px) {
  .container-menu {
    margin-inline-start: 15%;
    margin-inline-end: 15%;
    row-gap: 38px;
  }
}
.container-menu__items {
  margin: auto;
}

.card_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2em;
  justify-content: space-evenly;
}
.card_menu__prev {
  margin-right: 2em;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}
@media screen and (min-width: 1025px) {
  article {
    margin-bottom: 4em;
  }
}
article h2 {
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #569c87;
  border-radius: 10px;
}
@media screen and (max-width: 320px) {
  article h2 {
    font-size: medium;
  }
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 1px 1px 3px lightgrey;
}

img {
  background-color: #fff;
  z-index: 1;
  transition: transform 1000ms ease-in-out, opacity 700ms 20ms;
}

figure:hover > img {
  transform: scale(1.5);
  opacity: 0.3;
}

.mention_text:hover {
  animation-name: wiggle;
  animation-duration: 200ms;
  animation-iteration-count: 2;
}

@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
.menu_1 {
  background-color: #fcdfdb;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu1__header {
    font-size: xx-large;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-bottom: 0.5em;
  }
}
.content-menu1 i {
  background: -webkit-linear-gradient(90deg, #f15f62 0%, #f6916a 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu1 i {
    font-size: 40px;
  }
}
.content-menu1 .title {
  font-size: 20px;
}
.content-menu1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3d1319;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu1 h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 12px;
  }
}
.content-menu1 ul {
  list-style: none;
  text-align: left;
  padding-right: 0.5em;
  padding-left: 1.5em;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu1 li {
    margin-bottom: 0.5em;
  }
}
.content-menu1 footer {
  text-align: center;
}
.content-menu1 footer .note_footer {
  font-size: 16px;
}

.content-menu1__entrees, .content-menu1__desserts, .content-menu1__plats {
  display: flex;
  flex-direction: column;
}

.text_container {
  display: flex;
}
@media screen and (max-width: 320px) {
  .text_container {
    font-size: 9px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .text_container__items {
    font-size: 11px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .text_container__price {
    font-size: 11px;
  }
}
.text_container__price ul {
  text-align: end;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #569c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__link {
  color: #fcca46;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
}
@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 13px;
  }
}

body, html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 320px) {
  img {
    max-height: 11em;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  img {
    max-height: 16em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  img {
    max-height: 21em;
  }
}
@media screen and (min-width: 1025px) {
  img {
    max-height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
