body {
  font-family: sans-serif;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-weight: 700;
  color: #fcca46;
  font-size: -webkit-xxx-large;
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: large;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  h1 {
    font-size: x-large;
  }
}

h2 {
  font-weight: 700;
  color: #fcca46;
  font-size: xx-large;
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: medium;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  h2 {
    font-size: large;
  }
}

.point:nth-child(1) {
  transition-property: transform 1000ms;
  transition-delay: 100ms;
  visibility: hidden;
}

.point:nth-child(2) {
  transition-property: transform 1000ms;
  transition-delay: 200ms;
  visibility: hidden;
}

.point:nth-child(3) {
  transition-property: transform 1000ms;
  transition-delay: 300ms;
  visibility: hidden;
}

.point:nth-child(4) {
  transition-property: transform 1000ms;
  transition-delay: 400ms;
  visibility: hidden;
}

h2:hover > .point {
  transform: scale(0.5);
  visibility: visible;
}

img {
  background-color: #fff;
  z-index: 1;
  transition: transform 1000ms ease-in-out, opacity 700ms 20ms;
}

figure:hover > img {
  transform: scale(1.5);
  opacity: 0.3;
}

.mention_text:hover {
  animation-name: wiggle;
  animation-duration: 200ms;
  animation-iteration-count: 2;
}

@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
@keyframes soulign {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
span.souligner {
  border-top: hotpink solid 3px;
  width: 0%;
}

.entree_plat_dessert:hover + span {
  animation-name: soulign;
  animation-duration: 2000ms;
}

.header {
  text-align: center;
  background-color: #569c87;
}
.header__link {
  text-decoration: none;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .header_title {
    font-size: x-large;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header_title {
    font-size: 56px;
    letter-spacing: 4px;
  }
}

.container {
  display: grid;
  grid-template-rows: 10% 70% 10% 10%;
  min-height: 100vh;
}
@media screen and (min-width: 1025px) {
  .container {
    grid-gap: 38px;
  }
}

.container-menu {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  grid-template-areas: "1 2" "3 4";
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-menu {
    margin-inline-start: 15%;
    margin-inline-end: 15%;
  }
}
@media screen and (min-width: 1025px) {
  .container-menu {
    margin-inline-start: 15%;
    margin-inline-end: 15%;
    row-gap: 38px;
  }
}
.container-menu__items {
  margin: auto;
}

.card_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2em;
  justify-content: space-evenly;
}
.card_menu__prev {
  margin-right: 2em;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}
@media screen and (min-width: 1025px) {
  article {
    margin-bottom: 4em;
  }
}
article h2 {
  padding: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #569c87;
  border-radius: 10px;
}
@media screen and (max-width: 320px) {
  article h2 {
    font-size: medium;
  }
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 1px 1px 3px lightgrey;
}

.container_page {
  display: grid;
  grid-template-rows: 10% 5% 75% 10%;
  min-height: 100vh;
}

.container-menu_1 {
  font-family: serif;
  font-style: italic;
  background-color: #fcdfdb;
  display: grid;
  min-height: 70vh;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 1px 1px 3px lightgrey;
}
@media screen and (max-width: 320px) {
  .container-menu_1 {
    margin-top: 1em;
    margin-left: 1.1em;
    margin-right: 1.1em;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container-menu_1 {
    grid-gap: 10px;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-menu_1 {
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media screen and (min-width: 1025px) {
  .container-menu_1 {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: -26em;
  }
}
.container-menu_1 i {
  background: -webkit-linear-gradient(90deg, #f15f62 0%, #f6916a 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container-menu_1__header {
    font-size: xx-large;
    text-align: center;
  }
}
.container-menu_1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3d1319;
  font-size: 30px;
  margin: 0;
  font-family: "Gochi Hand", cursive;
}
@media screen and (max-width: 320px) {
  .container-menu_1 h1 {
    font-size: 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container-menu_1 h1 {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-menu_1 h1 {
    font-size: 25px;
  }
}
.container-menu_1 h1.header_title {
  color: #fcca46;
  font-size: 23px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-menu_1 h1.header_title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1025px) {
  .container-menu_1 h1.header_title {
    font-size: -webkit-xxx-large;
  }
}
.container-menu_1 h1.title {
  font-size: 60px;
}
@media screen and (max-width: 320px) {
  .container-menu_1 h1.title {
    font-size: 19px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container-menu_1 h1.title {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-menu_1 h1.title {
    font-size: 50px;
  }
}
.container-menu_1 ul {
  list-style: none;
  text-align: left;
  padding-right: 0.5em;
  padding-left: 1.5em;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container-menu_1 li {
    margin-bottom: 0.5em;
  }
}

.menu_name {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}
@media screen and (max-width: 320px) {
  .menu_name {
    font-size: medium;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .menu_name {
    font-size: x-large;
  }
}

.content-menu_1 {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
@media screen and (min-width: 1025px) {
  .content-menu_1 {
    grid-gap: 1.3em;
  }
}
.content-menu_1 header {
  text-align: center;
  margin-top: 1em;
}
@media screen and (max-width: 320px) {
  .content-menu_1 header .title_1 {
    font-size: 19px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu_1 header .title_1 {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-menu_1 header .title_1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .content-menu_1 header .title_1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 320px) {
  .content-menu_1 header i {
    font-size: 26px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu_1 header i {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-menu_1 header i {
    font-size: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .content-menu_1 header i {
    font-size: 65px;
  }
}
.content-menu_1 footer {
  margin-top: 1em;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .content-menu_1 footer .title_2 {
    font-size: 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu_1 footer .title_2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-menu_1 footer .title_2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .content-menu_1 footer .title_2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  .content-menu_1 footer i {
    font-size: 16px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .content-menu_1 footer i {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-menu_1 footer i {
    font-size: 50px;
  }
}
@media screen and (min-width: 1025px) {
  .content-menu_1 footer i {
    font-size: 45px;
  }
}

.content-menu1__entrees,
.content-menu1__desserts,
.content-menu1__plats {
  display: flex;
  flex-direction: column;
}
.content-menu1__entrees h1,
.content-menu1__desserts h1,
.content-menu1__plats h1 {
  text-align: center;
}

.text_container {
  display: flex;
}
@media screen and (max-width: 320px) {
  .text_container {
    font-size: 9px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .text_container {
    font-size: 9px;
  }
}
@media screen and (max-width: 320px) {
  .text_container__items {
    font-size: 9px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .text_container__items {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text_container__items {
    font-size: 17px;
  }
}
@media screen and (max-width: 320px) {
  .text_container__price {
    font-size: 9px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .text_container__price {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text_container__price {
    font-size: 17px;
  }
}
.text_container__price ul {
  text-align: end;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #569c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__link {
  color: #fcca46;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
}
@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 13px;
  }
}

body,
html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 320px) {
  img {
    max-height: 11em;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  img {
    max-height: 16em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  img {
    max-height: 21em;
  }
}
@media screen and (min-width: 1025px) {
  img {
    max-height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
