@charset "UTF-8";

@import './utils/variables';
@import './utils/mixins';
@import './base/typography';
@import './base/animation';
@import './layouts/header';
@import './Pages/home';
@import './Pages/menu_1.scss';
@import './layouts/footer';

body,
html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  @include smaller {
    max-height: 11em;
  }

  @include smartphone {
    max-height: 16em;
  }

  @include tablette {
    max-height: 21em;
  }

  @include desktop {
    max-height: 350px;
  }
}
