//////////////// POINT DE SUSPENSSION PAGE ACCUEIL////////////////////////////

.point:nth-child(1) {
  transition-property:  1000ms;
  transition-delay: 100ms;
  visibility: hidden;
}

.point:nth-child(2) {
  transition-property:  1000ms;
  transition-delay: 200ms;
  visibility: hidden;
}

.point:nth-child(3) {
  transition-property:  1000ms;
  transition-delay: 300ms;
  visibility: hidden;
}

.point:nth-child(4) {
  transition-property:  1000ms;
  transition-delay: 400ms;
  visibility: hidden;
}

h2:hover > .point {
  transform: scale(0.5);
  visibility: visible;
}

///////////////////////////////////////////////////////////////////////////////

///////////////////////////ZOOM IMAGE + FLOU PAGE ACCUEIL/////////////////////////////

img {
  background-color: #fff;
  z-index: 1;
  transition: transform 1000ms ease-in-out, opacity 700ms 20ms;
}

figure:hover > img {
  transform: scale(1.5);
  opacity: 0.3;
}

///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////WIGGLE FOOTER///////////////////////////////////////////////

.mention_text {
  &:hover {
    animation-name: wiggle;
    animation-duration: 200ms;

    animation-iteration-count: 2;
  }
}

@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }

  75% {
    transform: translateX(1% * -1);
  }
}

////////////////////////////////////////////////////////////////////////////////////////

/////////////////////MENU SOULIGNE PAGES MENU///////////////////////////////////////////////////

@keyframes soulign{
  0%{
    width: 0%;
  }100%{
    width: 50%;
  }
}

span.souligner{
  border-top: hotpink solid 3px;
  width: 0%;
  margin-left: 30%;
}

.entree_plat_dessert:hover + span{
  animation-name: soulign;
  animation-duration: 2000ms ;
}