.card_menu_top,.card_menu_bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2em;
  
  &__prev{

    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 10em;

    @include smartphone{
      padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
    }

    ///////ZOOM IMAGE//////////////////

figure {
      margin: 0;
      padding: 0;
      background: #fff;
      overflow: hidden;
      @include img-shadow;
    }

img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure:hover > img {
	-webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.5;
}

    
  }


}