.card_menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2em;
  justify-content: space-evenly;
  
  &__prev{

    margin-right: 2em;

    

    ///////ZOOM IMAGE//////////////////


    
  }


}


figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  @include img-shadow;
}

img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure:hover > img {
	-webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.5;
}