.card-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  

  &__prev{

    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 10em;

    ///////ZOOM IMAGE//////////////////

figure {
      margin: 0;
      padding: 0;
      background: #fff;
      overflow: hidden;
      @include img-shadow;
    }

img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure:hover > img {
	-webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.5;
}

///////////// RESPONSIVE ////////////////////////////

    @include smartphone{
      padding-right: 0em;
    padding-left: 0em;
    padding-bottom: 1em;
    }

    @include destock{
      padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    }
 // IMAGE PAGE D'ACCUEIL///////////////
    img{
      height: 30em;
      

      @include smartphone{
        height: 20em;
      }
    }
    
  }


// IMAGE PAGE MENU ///////////////
  &__img-menu{
    margin-bottom: 40px;
    width: 60%;

    @include smartphone{
      height: 52em;
    }

    @include small {
      height: 38em;
    }
    
  }

}