.content_menu{
  background-color: $colour-menu1;
}

.content_menu.menu_1{
  font-family: 'Nanum Pen Script', cursive;
  color: #3d1319;

  @include tablette{
    margin-top: 15px;
  }
}

.menu_title.menu_1{
 

  

  i{
    background: -webkit-linear-gradient(#da5031,#d67835);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: larger;

margin-bottom: -1em;

@include tablette{
  font-size: xx-large;
}

@include desktop{
  font-size: 52px;
}


  }

  h2{
    color: #3d1319;
    font-family: 'Nanum Pen Script', cursive;
  }
}


.menu_title.menu_1.menu_footer{
  display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: center;
    align-items: baseline;
    i{
      font-size: small;

      @include tablette{
        font-size: x-large;
      }

      @include desktop{
        font-size: 35px;
      }
    }

}
