.content-menu_1.menu_2{
  background:$colour-menu2;
  
}

.title_1.menu_2{
  background: -webkit-linear-gradient(#c87c49, #af4baa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entree_plat_dessert.menu_2_1{
  color:#c87c49 ;
  .text_container__items.menu_2_1{
    color: #c87c49;
  }

}

.entree_plat_dessert.menu_2_2{
  color: #af4baa;
} 
