
//Container color's
$colour-primary : #569c87;

//title color's
$colour-secondary : #fcca46;

//Menu 1 color
$colour-menu1 : #fcdfdb;

//Menu 2 color 
$colour-menu2 : linear-gradient(90deg, rgba(255,245,254,1) 0%, rgba(242,224,239,1) 35%);

//Menu 3 color 
$colour-menu3 : #EDEFEF;

//Menu 4 color 
$colour-menu4 : #FDFFFD;

// Darken hover image 
$colour-darkenHover : darken(#ffff, 60%);


/// breakpoint Responsive
$breakpoints: (
  very_small : 320px,
  smartphone_min : 321px,
  smartphone_max : 767px,
  tablette_min : 768px,
  tablette_max : 1024px,
  desktop : 1025px,
  
);