.card-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  

  &__prev{

    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 10em;

    @include smartphone{
      padding-right: 0em;
    padding-left: 0em;
    padding-bottom: 1em;
    }

    @include destock{
      padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    }
 // IMAGE PAGE D'ACCUEIL///////////////
    img{
      height: 30em;
      @include img-shadow;

      @include smartphone{
        height: 20em;
      }
    }
  }
// IMAGE PAGE MENU ///////////////
  &__img-menu{
    margin-bottom: 40px;
    width: 60%;

    @include smartphone{
      height: 52em;
    }

    @include small {
      height: 38em;
    }
    
  }

}