.card-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  

  &__prev{

    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 10em;

  

    img{
      height: 30em;
    }
  }
}