.footer {
  display: flex;
  justify-content: space-between;
  background-color: $colour-primary;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__link {
    color: $colour-secondary;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    text-decoration: none;

    @include smaller {
      font-size: 13px;
    }
  }
}
