
.footer{
  display: flex;
  justify-content: space-between; 
  background-color: $colour-primary;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 3em;
  

    &__link{
      color: $colour-secondary;
      padding-left: 0.9rem;
     padding-right: 0.9rem;
     text-decoration: none;
    }
  
}