.header{
  text-align: center;
  background-color: $colour-primary;

  &__link{
    text-decoration: none;  
  }

}

.header_title{


  @include smartphone{
    font-size: x-large;
  }



  @include tablette{
    font-size: 56px;
    letter-spacing: 4px;
  }
}